<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mushbird.sinsege.base.module.reward.dao.BaseCouponTargetFreegiftMapMapper">
  <resultMap id="BaseResultMap" type="com.mushbird.sinsege.base.module.reward.model.CouponTargetFreegiftMap">
    <id column="TCTFM_CPN_ID" jdbcType="INTEGER" property="cpnId" />
    <id column="TCTFM_ITEM_FRGT_ID" jdbcType="INTEGER" property="itemFrgtId" />
    <result column="TCTFM_REG_DT" jdbcType="TIMESTAMP" property="regDt" />
    <result column="TCTFM_REG_ID" jdbcType="VARCHAR" property="regId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    TCTFM.CPN_ID as TCTFM_CPN_ID, TCTFM.ITEM_FRGT_ID as TCTFM_ITEM_FRGT_ID, TCTFM.REG_DT as TCTFM_REG_DT, 
    TCTFM.REG_ID as TCTFM_REG_ID
  </sql>
  <select id="selectByEntityCriteria" parameterType="com.mushbird.sinsege.base.module.reward.model.entity.criteria.CouponTargetFreegiftMapEntityCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cpn_tgt_frgt_map TCTFM
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.mushbird.sinsege.base.module.reward.model.entity.CouponTargetFreegiftMapKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cpn_tgt_frgt_map TCTFM
    where TCTFM.CPN_ID = #{cpnId,jdbcType=INTEGER}
      and TCTFM.ITEM_FRGT_ID = #{itemFrgtId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.mushbird.sinsege.base.module.reward.model.entity.CouponTargetFreegiftMapKey">
    delete from cpn_tgt_frgt_map
    where CPN_ID = #{cpnId,jdbcType=INTEGER}
      and ITEM_FRGT_ID = #{itemFrgtId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByEntityCriteria" parameterType="com.mushbird.sinsege.base.module.reward.model.entity.criteria.CouponTargetFreegiftMapEntityCriteria">
    delete TCTFM from cpn_tgt_frgt_map TCTFM
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mushbird.sinsege.base.module.reward.model.entity.CouponTargetFreegiftMapEntity">
    insert into cpn_tgt_frgt_map (CPN_ID, ITEM_FRGT_ID, REG_DT, 
      REG_ID)
    values (#{cpnId,jdbcType=INTEGER}, #{itemFrgtId,jdbcType=INTEGER}, #{regDt,jdbcType=TIMESTAMP}, 
      #{regId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mushbird.sinsege.base.module.reward.model.entity.CouponTargetFreegiftMapEntity">
    insert into cpn_tgt_frgt_map
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cpnId != null">
        CPN_ID,
      </if>
      <if test="itemFrgtId != null">
        ITEM_FRGT_ID,
      </if>
      <if test="regDt != null">
        REG_DT,
      </if>
      <if test="regId != null">
        REG_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cpnId != null">
        #{cpnId,jdbcType=INTEGER},
      </if>
      <if test="itemFrgtId != null">
        #{itemFrgtId,jdbcType=INTEGER},
      </if>
      <if test="regDt != null">
        #{regDt,jdbcType=TIMESTAMP},
      </if>
      <if test="regId != null">
        #{regId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByEntityCriteria" parameterType="com.mushbird.sinsege.base.module.reward.model.entity.criteria.CouponTargetFreegiftMapEntityCriteria" resultType="java.lang.Long">
    select count(*) from cpn_tgt_frgt_map TCTFM
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByEntityCriteriaSelective" parameterType="map">
    update TCTFM
    <set>
      <if test="record.cpnId != null">
        
      </if>
      <if test="record.itemFrgtId != null">
        
      </if>
      <if test="record.regDt != null">
        TCTFM.REG_DT = #{record.regDt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.regId != null">
        TCTFM.REG_ID = #{record.regId,jdbcType=VARCHAR},
      </if>
    </set>
    from cpn_tgt_frgt_map TCTFM
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByEntityCriteria" parameterType="map">
    update cpn_tgt_frgt_map TCTFM
    set 
      
      TCTFM.REG_DT = #{record.regDt,jdbcType=TIMESTAMP},
      TCTFM.REG_ID = #{record.regId,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mushbird.sinsege.base.module.reward.model.entity.CouponTargetFreegiftMapEntity">
    update cpn_tgt_frgt_map
    <set>
      <if test="regDt != null">
        REG_DT = #{regDt,jdbcType=TIMESTAMP},
      </if>
      <if test="regId != null">
        REG_ID = #{regId,jdbcType=VARCHAR},
      </if>
    </set>
    where CPN_ID = #{cpnId,jdbcType=INTEGER}
      and ITEM_FRGT_ID = #{itemFrgtId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mushbird.sinsege.base.module.reward.model.entity.CouponTargetFreegiftMapEntity">
    update cpn_tgt_frgt_map
    set REG_DT = #{regDt,jdbcType=TIMESTAMP},
      REG_ID = #{regId,jdbcType=VARCHAR}
    where CPN_ID = #{cpnId,jdbcType=INTEGER}
      and ITEM_FRGT_ID = #{itemFrgtId,jdbcType=INTEGER}
  </update>
  <update id="updateNullByPrimaryKeySelective" parameterType="com.mushbird.sinsege.base.module.reward.model.entity.CouponTargetFreegiftMapEntity">
    update cpn_tgt_frgt_map
    <set>
      <if test="regDt != null">
        REG_DT = null,
      </if>
      <if test="regId != null">
        REG_ID = null,
      </if>
    </set>
    where 1=1
    and CPN_ID = #{cpnId,jdbcType=INTEGER}
    and ITEM_FRGT_ID = #{itemFrgtId,jdbcType=INTEGER}
  </update>
</mapper>