<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mushbird.sinsege.base.module.order.dao.BaseOrderItemFreegiftMapper">
  <resultMap id="BaseResultMap" type="com.mushbird.sinsege.base.module.order.model.OrderItemFreegift">
    <id column="TOIF_ORD_ITEM_FRGT_ID" jdbcType="INTEGER" property="ordItemFrgtId" />
    <result column="TOIF_ORD_ITEM_ID" jdbcType="INTEGER" property="ordItemId" />
    <result column="TOIF_ITEM_FRGT_ID" jdbcType="INTEGER" property="itemFrgtId" />
    <result column="TOIF_SSG_CD" jdbcType="VARCHAR" property="ssgCd" />
    <result column="TOIF_FRGT_NM" jdbcType="VARCHAR" property="frgtNm" />
    <result column="TOIF_ORD_CFM_SND_YN" jdbcType="VARCHAR" property="ordCfmSndYn" />
    <result column="TOIF_REG_DT" jdbcType="TIMESTAMP" property="regDt" />
    <result column="TOIF_REG_ID" jdbcType="VARCHAR" property="regId" />
    <result column="TOIF_MOD_DT" jdbcType="TIMESTAMP" property="modDt" />
    <result column="TOIF_MOD_ID" jdbcType="VARCHAR" property="modId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    TOIF.ORD_ITEM_FRGT_ID as TOIF_ORD_ITEM_FRGT_ID, TOIF.ORD_ITEM_ID as TOIF_ORD_ITEM_ID, 
    TOIF.ITEM_FRGT_ID as TOIF_ITEM_FRGT_ID, TOIF.SSG_CD as TOIF_SSG_CD, TOIF.FRGT_NM as TOIF_FRGT_NM, 
    TOIF.ORD_CFM_SND_YN as TOIF_ORD_CFM_SND_YN, TOIF.REG_DT as TOIF_REG_DT, TOIF.REG_ID as TOIF_REG_ID, 
    TOIF.MOD_DT as TOIF_MOD_DT, TOIF.MOD_ID as TOIF_MOD_ID
  </sql>
  <select id="selectByEntityCriteria" parameterType="com.mushbird.sinsege.base.module.order.model.entity.criteria.OrderItemFreegiftEntityCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ord_item_frgt TOIF
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ord_item_frgt TOIF
    where TOIF.ORD_ITEM_FRGT_ID = #{ordItemFrgtId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ord_item_frgt
    where ORD_ITEM_FRGT_ID = #{ordItemFrgtId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByEntityCriteria" parameterType="com.mushbird.sinsege.base.module.order.model.entity.criteria.OrderItemFreegiftEntityCriteria">
    delete TOIF from ord_item_frgt TOIF
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mushbird.sinsege.base.module.order.model.entity.OrderItemFreegiftEntity">
    <selectKey keyProperty="ordItemFrgtId" order="BEFORE" resultType="java.lang.Integer">
      SELECT NEXT VALUE FOR SEQ_ORD_ITEM_FRGT
    </selectKey>
    insert into ord_item_frgt (ORD_ITEM_FRGT_ID, ORD_ITEM_ID, ITEM_FRGT_ID, 
      SSG_CD, FRGT_NM, ORD_CFM_SND_YN, 
      REG_DT, REG_ID, MOD_DT, 
      MOD_ID)
    values (#{ordItemFrgtId,jdbcType=INTEGER}, #{ordItemId,jdbcType=INTEGER}, #{itemFrgtId,jdbcType=INTEGER}, 
      #{ssgCd,jdbcType=VARCHAR}, #{frgtNm,jdbcType=VARCHAR}, #{ordCfmSndYn,jdbcType=VARCHAR}, 
      #{regDt,jdbcType=TIMESTAMP}, #{regId,jdbcType=VARCHAR}, #{modDt,jdbcType=TIMESTAMP}, 
      #{modId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mushbird.sinsege.base.module.order.model.entity.OrderItemFreegiftEntity">
    <selectKey keyProperty="ordItemFrgtId" order="BEFORE" resultType="java.lang.Integer">
      SELECT NEXT VALUE FOR SEQ_ORD_ITEM_FRGT
    </selectKey>
    insert into ord_item_frgt
    <trim prefix="(" suffix=")" suffixOverrides=",">
      ORD_ITEM_FRGT_ID,
      <if test="ordItemId != null">
        ORD_ITEM_ID,
      </if>
      <if test="itemFrgtId != null">
        ITEM_FRGT_ID,
      </if>
      <if test="ssgCd != null">
        SSG_CD,
      </if>
      <if test="frgtNm != null">
        FRGT_NM,
      </if>
      <if test="ordCfmSndYn != null">
        ORD_CFM_SND_YN,
      </if>
      <if test="regDt != null">
        REG_DT,
      </if>
      <if test="regId != null">
        REG_ID,
      </if>
      <if test="modDt != null">
        MOD_DT,
      </if>
      <if test="modId != null">
        MOD_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{ordItemFrgtId,jdbcType=INTEGER},
      <if test="ordItemId != null">
        #{ordItemId,jdbcType=INTEGER},
      </if>
      <if test="itemFrgtId != null">
        #{itemFrgtId,jdbcType=INTEGER},
      </if>
      <if test="ssgCd != null">
        #{ssgCd,jdbcType=VARCHAR},
      </if>
      <if test="frgtNm != null">
        #{frgtNm,jdbcType=VARCHAR},
      </if>
      <if test="ordCfmSndYn != null">
        #{ordCfmSndYn,jdbcType=VARCHAR},
      </if>
      <if test="regDt != null">
        #{regDt,jdbcType=TIMESTAMP},
      </if>
      <if test="regId != null">
        #{regId,jdbcType=VARCHAR},
      </if>
      <if test="modDt != null">
        #{modDt,jdbcType=TIMESTAMP},
      </if>
      <if test="modId != null">
        #{modId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByEntityCriteria" parameterType="com.mushbird.sinsege.base.module.order.model.entity.criteria.OrderItemFreegiftEntityCriteria" resultType="java.lang.Long">
    select count(*) from ord_item_frgt TOIF
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByEntityCriteriaSelective" parameterType="map">
    update TOIF
    <set>
      <if test="record.ordItemFrgtId != null">
        
      </if>
      <if test="record.ordItemId != null">
        TOIF.ORD_ITEM_ID = #{record.ordItemId,jdbcType=INTEGER},
      </if>
      <if test="record.itemFrgtId != null">
        TOIF.ITEM_FRGT_ID = #{record.itemFrgtId,jdbcType=INTEGER},
      </if>
      <if test="record.ssgCd != null">
        TOIF.SSG_CD = #{record.ssgCd,jdbcType=VARCHAR},
      </if>
      <if test="record.frgtNm != null">
        TOIF.FRGT_NM = #{record.frgtNm,jdbcType=VARCHAR},
      </if>
      <if test="record.ordCfmSndYn != null">
        TOIF.ORD_CFM_SND_YN = #{record.ordCfmSndYn,jdbcType=VARCHAR},
      </if>
      <if test="record.regDt != null">
        TOIF.REG_DT = #{record.regDt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.regId != null">
        TOIF.REG_ID = #{record.regId,jdbcType=VARCHAR},
      </if>
      <if test="record.modDt != null">
        TOIF.MOD_DT = #{record.modDt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modId != null">
        TOIF.MOD_ID = #{record.modId,jdbcType=VARCHAR},
      </if>
    </set>
    from ord_item_frgt TOIF
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByEntityCriteria" parameterType="map">
    update ord_item_frgt TOIF
    set 
      TOIF.ORD_ITEM_ID = #{record.ordItemId,jdbcType=INTEGER},
      TOIF.ITEM_FRGT_ID = #{record.itemFrgtId,jdbcType=INTEGER},
      TOIF.SSG_CD = #{record.ssgCd,jdbcType=VARCHAR},
      TOIF.FRGT_NM = #{record.frgtNm,jdbcType=VARCHAR},
      TOIF.ORD_CFM_SND_YN = #{record.ordCfmSndYn,jdbcType=VARCHAR},
      TOIF.REG_DT = #{record.regDt,jdbcType=TIMESTAMP},
      TOIF.REG_ID = #{record.regId,jdbcType=VARCHAR},
      TOIF.MOD_DT = #{record.modDt,jdbcType=TIMESTAMP},
      TOIF.MOD_ID = #{record.modId,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mushbird.sinsege.base.module.order.model.entity.OrderItemFreegiftEntity">
    update ord_item_frgt
    <set>
      <if test="ordItemId != null">
        ORD_ITEM_ID = #{ordItemId,jdbcType=INTEGER},
      </if>
      <if test="itemFrgtId != null">
        ITEM_FRGT_ID = #{itemFrgtId,jdbcType=INTEGER},
      </if>
      <if test="ssgCd != null">
        SSG_CD = #{ssgCd,jdbcType=VARCHAR},
      </if>
      <if test="frgtNm != null">
        FRGT_NM = #{frgtNm,jdbcType=VARCHAR},
      </if>
      <if test="ordCfmSndYn != null">
        ORD_CFM_SND_YN = #{ordCfmSndYn,jdbcType=VARCHAR},
      </if>
      <if test="regDt != null">
        REG_DT = #{regDt,jdbcType=TIMESTAMP},
      </if>
      <if test="regId != null">
        REG_ID = #{regId,jdbcType=VARCHAR},
      </if>
      <if test="modDt != null">
        MOD_DT = #{modDt,jdbcType=TIMESTAMP},
      </if>
      <if test="modId != null">
        MOD_ID = #{modId,jdbcType=VARCHAR},
      </if>
    </set>
    where ORD_ITEM_FRGT_ID = #{ordItemFrgtId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mushbird.sinsege.base.module.order.model.entity.OrderItemFreegiftEntity">
    update ord_item_frgt
    set ORD_ITEM_ID = #{ordItemId,jdbcType=INTEGER},
      ITEM_FRGT_ID = #{itemFrgtId,jdbcType=INTEGER},
      SSG_CD = #{ssgCd,jdbcType=VARCHAR},
      FRGT_NM = #{frgtNm,jdbcType=VARCHAR},
      ORD_CFM_SND_YN = #{ordCfmSndYn,jdbcType=VARCHAR},
      REG_DT = #{regDt,jdbcType=TIMESTAMP},
      REG_ID = #{regId,jdbcType=VARCHAR},
      MOD_DT = #{modDt,jdbcType=TIMESTAMP},
      MOD_ID = #{modId,jdbcType=VARCHAR}
    where ORD_ITEM_FRGT_ID = #{ordItemFrgtId,jdbcType=INTEGER}
  </update>
  <update id="updateNullByPrimaryKeySelective" parameterType="com.mushbird.sinsege.base.module.order.model.entity.OrderItemFreegiftEntity">
    update ord_item_frgt
    <set>
      <if test="ordItemId != null">
        ORD_ITEM_ID = null,
      </if>
      <if test="itemFrgtId != null">
        ITEM_FRGT_ID = null,
      </if>
      <if test="ssgCd != null">
        SSG_CD = null,
      </if>
      <if test="frgtNm != null">
        FRGT_NM = null,
      </if>
      <if test="ordCfmSndYn != null">
        ORD_CFM_SND_YN = null,
      </if>
      <if test="regDt != null">
        REG_DT = null,
      </if>
      <if test="regId != null">
        REG_ID = null,
      </if>
      <if test="modDt != null">
        MOD_DT = null,
      </if>
      <if test="modId != null">
        MOD_ID = null,
      </if>
    </set>
    where 1=1
    and ORD_ITEM_FRGT_ID = #{ordItemFrgtId,jdbcType=INTEGER}
  </update>
</mapper>