<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mushbird.sinsege.base.module.order.dao.BaseOrderCouponChangeHistoryMapper">
  <resultMap id="BaseResultMap" type="com.mushbird.sinsege.base.module.order.model.OrderCouponChangeHistory">
    <id column="TOCCH_ORD_CPN_CHIST_ID" jdbcType="INTEGER" property="ordCpnChistId" />
    <result column="TOCCH_ORD_CPN_ID" jdbcType="INTEGER" property="ordCpnId" />
    <result column="TOCCH_MBR_CPN_ID" jdbcType="INTEGER" property="mbrCpnId" />
    <result column="TOCCH_ORD_ID" jdbcType="INTEGER" property="ordId" />
    <result column="TOCCH_ORD_CPN_APLY_CD" jdbcType="VARCHAR" property="ordCpnAplyCd" />
    <result column="TOCCH_CPN_TP_CD" jdbcType="VARCHAR" property="cpnTpCd" />
    <result column="TOCCH_CPN_AUTO_CL_CD" jdbcType="VARCHAR" property="cpnAutoClCd" />
    <result column="TOCCH_CPN_NO" jdbcType="VARCHAR" property="cpnNo" />
    <result column="TOCCH_CPN_NM" jdbcType="VARCHAR" property="cpnNm" />
    <result column="TOCCH_MBR_CPN_NO" jdbcType="VARCHAR" property="mbrCpnNo" />
    <result column="TOCCH_DC_METH_CD" jdbcType="VARCHAR" property="dcMethCd" />
    <result column="TOCCH_DC_AMT" jdbcType="INTEGER" property="dcAmt" />
    <result column="TOCCH_DC_RATE" jdbcType="DECIMAL" property="dcRate" />
    <result column="TOCCH_DC_RATE_MAX_AMT" jdbcType="INTEGER" property="dcRateMaxAmt" />
    <result column="TOCCH_DC_MIN_USE_AMT_RES_YN" jdbcType="VARCHAR" property="dcMinUseAmtResYn" />
    <result column="TOCCH_DC_MIN_USE_AMT" jdbcType="INTEGER" property="dcMinUseAmt" />
    <result column="TOCCH_DC_ADD_DC_CPN_YN" jdbcType="VARCHAR" property="dcAddDcCpnYn" />
    <result column="TOCCH_REAL_DC_AMT" jdbcType="INTEGER" property="realDcAmt" />
    <result column="TOCCH_REG_DT" jdbcType="TIMESTAMP" property="regDt" />
    <result column="TOCCH_REG_ID" jdbcType="VARCHAR" property="regId" />
    <result column="TOCCH_MOD_DT" jdbcType="TIMESTAMP" property="modDt" />
    <result column="TOCCH_MOD_ID" jdbcType="VARCHAR" property="modId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    TOCCH.ORD_CPN_CHIST_ID as TOCCH_ORD_CPN_CHIST_ID, TOCCH.ORD_CPN_ID as TOCCH_ORD_CPN_ID, 
    TOCCH.MBR_CPN_ID as TOCCH_MBR_CPN_ID, TOCCH.ORD_ID as TOCCH_ORD_ID, TOCCH.ORD_CPN_APLY_CD as TOCCH_ORD_CPN_APLY_CD, 
    TOCCH.CPN_TP_CD as TOCCH_CPN_TP_CD, TOCCH.CPN_AUTO_CL_CD as TOCCH_CPN_AUTO_CL_CD, 
    TOCCH.CPN_NO as TOCCH_CPN_NO, TOCCH.CPN_NM as TOCCH_CPN_NM, TOCCH.MBR_CPN_NO as TOCCH_MBR_CPN_NO, 
    TOCCH.DC_METH_CD as TOCCH_DC_METH_CD, TOCCH.DC_AMT as TOCCH_DC_AMT, TOCCH.DC_RATE as TOCCH_DC_RATE, 
    TOCCH.DC_RATE_MAX_AMT as TOCCH_DC_RATE_MAX_AMT, TOCCH.DC_MIN_USE_AMT_RES_YN as TOCCH_DC_MIN_USE_AMT_RES_YN, 
    TOCCH.DC_MIN_USE_AMT as TOCCH_DC_MIN_USE_AMT, TOCCH.DC_ADD_DC_CPN_YN as TOCCH_DC_ADD_DC_CPN_YN, 
    TOCCH.REAL_DC_AMT as TOCCH_REAL_DC_AMT, TOCCH.REG_DT as TOCCH_REG_DT, TOCCH.REG_ID as TOCCH_REG_ID, 
    TOCCH.MOD_DT as TOCCH_MOD_DT, TOCCH.MOD_ID as TOCCH_MOD_ID
  </sql>
  <select id="selectByEntityCriteria" parameterType="com.mushbird.sinsege.base.module.order.model.entity.criteria.OrderCouponChangeHistoryEntityCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ord_cpn_chist TOCCH
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ord_cpn_chist TOCCH
    where TOCCH.ORD_CPN_CHIST_ID = #{ordCpnChistId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ord_cpn_chist
    where ORD_CPN_CHIST_ID = #{ordCpnChistId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByEntityCriteria" parameterType="com.mushbird.sinsege.base.module.order.model.entity.criteria.OrderCouponChangeHistoryEntityCriteria">
    delete TOCCH from ord_cpn_chist TOCCH
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mushbird.sinsege.base.module.order.model.entity.OrderCouponChangeHistoryEntity">
    <selectKey keyProperty="ordCpnChistId" order="BEFORE" resultType="java.lang.Integer">
      SELECT NEXT VALUE FOR SEQ_ORD_CPN_CHIST
    </selectKey>
    insert into ord_cpn_chist (ORD_CPN_CHIST_ID, ORD_CPN_ID, MBR_CPN_ID, 
      ORD_ID, ORD_CPN_APLY_CD, CPN_TP_CD, 
      CPN_AUTO_CL_CD, CPN_NO, CPN_NM, 
      MBR_CPN_NO, DC_METH_CD, DC_AMT, 
      DC_RATE, DC_RATE_MAX_AMT, DC_MIN_USE_AMT_RES_YN, 
      DC_MIN_USE_AMT, DC_ADD_DC_CPN_YN, REAL_DC_AMT, 
      REG_DT, REG_ID, MOD_DT, 
      MOD_ID)
    values (#{ordCpnChistId,jdbcType=INTEGER}, #{ordCpnId,jdbcType=INTEGER}, #{mbrCpnId,jdbcType=INTEGER}, 
      #{ordId,jdbcType=INTEGER}, #{ordCpnAplyCd,jdbcType=VARCHAR}, #{cpnTpCd,jdbcType=VARCHAR}, 
      #{cpnAutoClCd,jdbcType=VARCHAR}, #{cpnNo,jdbcType=VARCHAR}, #{cpnNm,jdbcType=VARCHAR}, 
      #{mbrCpnNo,jdbcType=VARCHAR}, #{dcMethCd,jdbcType=VARCHAR}, #{dcAmt,jdbcType=INTEGER}, 
      #{dcRate,jdbcType=DECIMAL}, #{dcRateMaxAmt,jdbcType=INTEGER}, #{dcMinUseAmtResYn,jdbcType=VARCHAR}, 
      #{dcMinUseAmt,jdbcType=INTEGER}, #{dcAddDcCpnYn,jdbcType=VARCHAR}, #{realDcAmt,jdbcType=INTEGER}, 
      #{regDt,jdbcType=TIMESTAMP}, #{regId,jdbcType=VARCHAR}, #{modDt,jdbcType=TIMESTAMP}, 
      #{modId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mushbird.sinsege.base.module.order.model.entity.OrderCouponChangeHistoryEntity">
    <selectKey keyProperty="ordCpnChistId" order="BEFORE" resultType="java.lang.Integer">
      SELECT NEXT VALUE FOR SEQ_ORD_CPN_CHIST
    </selectKey>
    insert into ord_cpn_chist
    <trim prefix="(" suffix=")" suffixOverrides=",">
      ORD_CPN_CHIST_ID,
      <if test="ordCpnId != null">
        ORD_CPN_ID,
      </if>
      <if test="mbrCpnId != null">
        MBR_CPN_ID,
      </if>
      <if test="ordId != null">
        ORD_ID,
      </if>
      <if test="ordCpnAplyCd != null">
        ORD_CPN_APLY_CD,
      </if>
      <if test="cpnTpCd != null">
        CPN_TP_CD,
      </if>
      <if test="cpnAutoClCd != null">
        CPN_AUTO_CL_CD,
      </if>
      <if test="cpnNo != null">
        CPN_NO,
      </if>
      <if test="cpnNm != null">
        CPN_NM,
      </if>
      <if test="mbrCpnNo != null">
        MBR_CPN_NO,
      </if>
      <if test="dcMethCd != null">
        DC_METH_CD,
      </if>
      <if test="dcAmt != null">
        DC_AMT,
      </if>
      <if test="dcRate != null">
        DC_RATE,
      </if>
      <if test="dcRateMaxAmt != null">
        DC_RATE_MAX_AMT,
      </if>
      <if test="dcMinUseAmtResYn != null">
        DC_MIN_USE_AMT_RES_YN,
      </if>
      <if test="dcMinUseAmt != null">
        DC_MIN_USE_AMT,
      </if>
      <if test="dcAddDcCpnYn != null">
        DC_ADD_DC_CPN_YN,
      </if>
      <if test="realDcAmt != null">
        REAL_DC_AMT,
      </if>
      <if test="regDt != null">
        REG_DT,
      </if>
      <if test="regId != null">
        REG_ID,
      </if>
      <if test="modDt != null">
        MOD_DT,
      </if>
      <if test="modId != null">
        MOD_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{ordCpnChistId,jdbcType=INTEGER},
      <if test="ordCpnId != null">
        #{ordCpnId,jdbcType=INTEGER},
      </if>
      <if test="mbrCpnId != null">
        #{mbrCpnId,jdbcType=INTEGER},
      </if>
      <if test="ordId != null">
        #{ordId,jdbcType=INTEGER},
      </if>
      <if test="ordCpnAplyCd != null">
        #{ordCpnAplyCd,jdbcType=VARCHAR},
      </if>
      <if test="cpnTpCd != null">
        #{cpnTpCd,jdbcType=VARCHAR},
      </if>
      <if test="cpnAutoClCd != null">
        #{cpnAutoClCd,jdbcType=VARCHAR},
      </if>
      <if test="cpnNo != null">
        #{cpnNo,jdbcType=VARCHAR},
      </if>
      <if test="cpnNm != null">
        #{cpnNm,jdbcType=VARCHAR},
      </if>
      <if test="mbrCpnNo != null">
        #{mbrCpnNo,jdbcType=VARCHAR},
      </if>
      <if test="dcMethCd != null">
        #{dcMethCd,jdbcType=VARCHAR},
      </if>
      <if test="dcAmt != null">
        #{dcAmt,jdbcType=INTEGER},
      </if>
      <if test="dcRate != null">
        #{dcRate,jdbcType=DECIMAL},
      </if>
      <if test="dcRateMaxAmt != null">
        #{dcRateMaxAmt,jdbcType=INTEGER},
      </if>
      <if test="dcMinUseAmtResYn != null">
        #{dcMinUseAmtResYn,jdbcType=VARCHAR},
      </if>
      <if test="dcMinUseAmt != null">
        #{dcMinUseAmt,jdbcType=INTEGER},
      </if>
      <if test="dcAddDcCpnYn != null">
        #{dcAddDcCpnYn,jdbcType=VARCHAR},
      </if>
      <if test="realDcAmt != null">
        #{realDcAmt,jdbcType=INTEGER},
      </if>
      <if test="regDt != null">
        #{regDt,jdbcType=TIMESTAMP},
      </if>
      <if test="regId != null">
        #{regId,jdbcType=VARCHAR},
      </if>
      <if test="modDt != null">
        #{modDt,jdbcType=TIMESTAMP},
      </if>
      <if test="modId != null">
        #{modId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByEntityCriteria" parameterType="com.mushbird.sinsege.base.module.order.model.entity.criteria.OrderCouponChangeHistoryEntityCriteria" resultType="java.lang.Long">
    select count(*) from ord_cpn_chist TOCCH
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByEntityCriteriaSelective" parameterType="map">
    update TOCCH
    <set>
      <if test="record.ordCpnChistId != null">
        
      </if>
      <if test="record.ordCpnId != null">
        TOCCH.ORD_CPN_ID = #{record.ordCpnId,jdbcType=INTEGER},
      </if>
      <if test="record.mbrCpnId != null">
        TOCCH.MBR_CPN_ID = #{record.mbrCpnId,jdbcType=INTEGER},
      </if>
      <if test="record.ordId != null">
        TOCCH.ORD_ID = #{record.ordId,jdbcType=INTEGER},
      </if>
      <if test="record.ordCpnAplyCd != null">
        TOCCH.ORD_CPN_APLY_CD = #{record.ordCpnAplyCd,jdbcType=VARCHAR},
      </if>
      <if test="record.cpnTpCd != null">
        TOCCH.CPN_TP_CD = #{record.cpnTpCd,jdbcType=VARCHAR},
      </if>
      <if test="record.cpnAutoClCd != null">
        TOCCH.CPN_AUTO_CL_CD = #{record.cpnAutoClCd,jdbcType=VARCHAR},
      </if>
      <if test="record.cpnNo != null">
        TOCCH.CPN_NO = #{record.cpnNo,jdbcType=VARCHAR},
      </if>
      <if test="record.cpnNm != null">
        TOCCH.CPN_NM = #{record.cpnNm,jdbcType=VARCHAR},
      </if>
      <if test="record.mbrCpnNo != null">
        TOCCH.MBR_CPN_NO = #{record.mbrCpnNo,jdbcType=VARCHAR},
      </if>
      <if test="record.dcMethCd != null">
        TOCCH.DC_METH_CD = #{record.dcMethCd,jdbcType=VARCHAR},
      </if>
      <if test="record.dcAmt != null">
        TOCCH.DC_AMT = #{record.dcAmt,jdbcType=INTEGER},
      </if>
      <if test="record.dcRate != null">
        TOCCH.DC_RATE = #{record.dcRate,jdbcType=DECIMAL},
      </if>
      <if test="record.dcRateMaxAmt != null">
        TOCCH.DC_RATE_MAX_AMT = #{record.dcRateMaxAmt,jdbcType=INTEGER},
      </if>
      <if test="record.dcMinUseAmtResYn != null">
        TOCCH.DC_MIN_USE_AMT_RES_YN = #{record.dcMinUseAmtResYn,jdbcType=VARCHAR},
      </if>
      <if test="record.dcMinUseAmt != null">
        TOCCH.DC_MIN_USE_AMT = #{record.dcMinUseAmt,jdbcType=INTEGER},
      </if>
      <if test="record.dcAddDcCpnYn != null">
        TOCCH.DC_ADD_DC_CPN_YN = #{record.dcAddDcCpnYn,jdbcType=VARCHAR},
      </if>
      <if test="record.realDcAmt != null">
        TOCCH.REAL_DC_AMT = #{record.realDcAmt,jdbcType=INTEGER},
      </if>
      <if test="record.regDt != null">
        TOCCH.REG_DT = #{record.regDt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.regId != null">
        TOCCH.REG_ID = #{record.regId,jdbcType=VARCHAR},
      </if>
      <if test="record.modDt != null">
        TOCCH.MOD_DT = #{record.modDt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modId != null">
        TOCCH.MOD_ID = #{record.modId,jdbcType=VARCHAR},
      </if>
    </set>
    from ord_cpn_chist TOCCH
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByEntityCriteria" parameterType="map">
    update ord_cpn_chist TOCCH
    set 
      TOCCH.ORD_CPN_ID = #{record.ordCpnId,jdbcType=INTEGER},
      TOCCH.MBR_CPN_ID = #{record.mbrCpnId,jdbcType=INTEGER},
      TOCCH.ORD_ID = #{record.ordId,jdbcType=INTEGER},
      TOCCH.ORD_CPN_APLY_CD = #{record.ordCpnAplyCd,jdbcType=VARCHAR},
      TOCCH.CPN_TP_CD = #{record.cpnTpCd,jdbcType=VARCHAR},
      TOCCH.CPN_AUTO_CL_CD = #{record.cpnAutoClCd,jdbcType=VARCHAR},
      TOCCH.CPN_NO = #{record.cpnNo,jdbcType=VARCHAR},
      TOCCH.CPN_NM = #{record.cpnNm,jdbcType=VARCHAR},
      TOCCH.MBR_CPN_NO = #{record.mbrCpnNo,jdbcType=VARCHAR},
      TOCCH.DC_METH_CD = #{record.dcMethCd,jdbcType=VARCHAR},
      TOCCH.DC_AMT = #{record.dcAmt,jdbcType=INTEGER},
      TOCCH.DC_RATE = #{record.dcRate,jdbcType=DECIMAL},
      TOCCH.DC_RATE_MAX_AMT = #{record.dcRateMaxAmt,jdbcType=INTEGER},
      TOCCH.DC_MIN_USE_AMT_RES_YN = #{record.dcMinUseAmtResYn,jdbcType=VARCHAR},
      TOCCH.DC_MIN_USE_AMT = #{record.dcMinUseAmt,jdbcType=INTEGER},
      TOCCH.DC_ADD_DC_CPN_YN = #{record.dcAddDcCpnYn,jdbcType=VARCHAR},
      TOCCH.REAL_DC_AMT = #{record.realDcAmt,jdbcType=INTEGER},
      TOCCH.REG_DT = #{record.regDt,jdbcType=TIMESTAMP},
      TOCCH.REG_ID = #{record.regId,jdbcType=VARCHAR},
      TOCCH.MOD_DT = #{record.modDt,jdbcType=TIMESTAMP},
      TOCCH.MOD_ID = #{record.modId,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mushbird.sinsege.base.module.order.model.entity.OrderCouponChangeHistoryEntity">
    update ord_cpn_chist
    <set>
      <if test="ordCpnId != null">
        ORD_CPN_ID = #{ordCpnId,jdbcType=INTEGER},
      </if>
      <if test="mbrCpnId != null">
        MBR_CPN_ID = #{mbrCpnId,jdbcType=INTEGER},
      </if>
      <if test="ordId != null">
        ORD_ID = #{ordId,jdbcType=INTEGER},
      </if>
      <if test="ordCpnAplyCd != null">
        ORD_CPN_APLY_CD = #{ordCpnAplyCd,jdbcType=VARCHAR},
      </if>
      <if test="cpnTpCd != null">
        CPN_TP_CD = #{cpnTpCd,jdbcType=VARCHAR},
      </if>
      <if test="cpnAutoClCd != null">
        CPN_AUTO_CL_CD = #{cpnAutoClCd,jdbcType=VARCHAR},
      </if>
      <if test="cpnNo != null">
        CPN_NO = #{cpnNo,jdbcType=VARCHAR},
      </if>
      <if test="cpnNm != null">
        CPN_NM = #{cpnNm,jdbcType=VARCHAR},
      </if>
      <if test="mbrCpnNo != null">
        MBR_CPN_NO = #{mbrCpnNo,jdbcType=VARCHAR},
      </if>
      <if test="dcMethCd != null">
        DC_METH_CD = #{dcMethCd,jdbcType=VARCHAR},
      </if>
      <if test="dcAmt != null">
        DC_AMT = #{dcAmt,jdbcType=INTEGER},
      </if>
      <if test="dcRate != null">
        DC_RATE = #{dcRate,jdbcType=DECIMAL},
      </if>
      <if test="dcRateMaxAmt != null">
        DC_RATE_MAX_AMT = #{dcRateMaxAmt,jdbcType=INTEGER},
      </if>
      <if test="dcMinUseAmtResYn != null">
        DC_MIN_USE_AMT_RES_YN = #{dcMinUseAmtResYn,jdbcType=VARCHAR},
      </if>
      <if test="dcMinUseAmt != null">
        DC_MIN_USE_AMT = #{dcMinUseAmt,jdbcType=INTEGER},
      </if>
      <if test="dcAddDcCpnYn != null">
        DC_ADD_DC_CPN_YN = #{dcAddDcCpnYn,jdbcType=VARCHAR},
      </if>
      <if test="realDcAmt != null">
        REAL_DC_AMT = #{realDcAmt,jdbcType=INTEGER},
      </if>
      <if test="regDt != null">
        REG_DT = #{regDt,jdbcType=TIMESTAMP},
      </if>
      <if test="regId != null">
        REG_ID = #{regId,jdbcType=VARCHAR},
      </if>
      <if test="modDt != null">
        MOD_DT = #{modDt,jdbcType=TIMESTAMP},
      </if>
      <if test="modId != null">
        MOD_ID = #{modId,jdbcType=VARCHAR},
      </if>
    </set>
    where ORD_CPN_CHIST_ID = #{ordCpnChistId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mushbird.sinsege.base.module.order.model.entity.OrderCouponChangeHistoryEntity">
    update ord_cpn_chist
    set ORD_CPN_ID = #{ordCpnId,jdbcType=INTEGER},
      MBR_CPN_ID = #{mbrCpnId,jdbcType=INTEGER},
      ORD_ID = #{ordId,jdbcType=INTEGER},
      ORD_CPN_APLY_CD = #{ordCpnAplyCd,jdbcType=VARCHAR},
      CPN_TP_CD = #{cpnTpCd,jdbcType=VARCHAR},
      CPN_AUTO_CL_CD = #{cpnAutoClCd,jdbcType=VARCHAR},
      CPN_NO = #{cpnNo,jdbcType=VARCHAR},
      CPN_NM = #{cpnNm,jdbcType=VARCHAR},
      MBR_CPN_NO = #{mbrCpnNo,jdbcType=VARCHAR},
      DC_METH_CD = #{dcMethCd,jdbcType=VARCHAR},
      DC_AMT = #{dcAmt,jdbcType=INTEGER},
      DC_RATE = #{dcRate,jdbcType=DECIMAL},
      DC_RATE_MAX_AMT = #{dcRateMaxAmt,jdbcType=INTEGER},
      DC_MIN_USE_AMT_RES_YN = #{dcMinUseAmtResYn,jdbcType=VARCHAR},
      DC_MIN_USE_AMT = #{dcMinUseAmt,jdbcType=INTEGER},
      DC_ADD_DC_CPN_YN = #{dcAddDcCpnYn,jdbcType=VARCHAR},
      REAL_DC_AMT = #{realDcAmt,jdbcType=INTEGER},
      REG_DT = #{regDt,jdbcType=TIMESTAMP},
      REG_ID = #{regId,jdbcType=VARCHAR},
      MOD_DT = #{modDt,jdbcType=TIMESTAMP},
      MOD_ID = #{modId,jdbcType=VARCHAR}
    where ORD_CPN_CHIST_ID = #{ordCpnChistId,jdbcType=INTEGER}
  </update>
  <update id="updateNullByPrimaryKeySelective" parameterType="com.mushbird.sinsege.base.module.order.model.entity.OrderCouponChangeHistoryEntity">
    update ord_cpn_chist
    <set>
      <if test="ordCpnId != null">
        ORD_CPN_ID = null,
      </if>
      <if test="mbrCpnId != null">
        MBR_CPN_ID = null,
      </if>
      <if test="ordId != null">
        ORD_ID = null,
      </if>
      <if test="ordCpnAplyCd != null">
        ORD_CPN_APLY_CD = null,
      </if>
      <if test="cpnTpCd != null">
        CPN_TP_CD = null,
      </if>
      <if test="cpnAutoClCd != null">
        CPN_AUTO_CL_CD = null,
      </if>
      <if test="cpnNo != null">
        CPN_NO = null,
      </if>
      <if test="cpnNm != null">
        CPN_NM = null,
      </if>
      <if test="mbrCpnNo != null">
        MBR_CPN_NO = null,
      </if>
      <if test="dcMethCd != null">
        DC_METH_CD = null,
      </if>
      <if test="dcAmt != null">
        DC_AMT = null,
      </if>
      <if test="dcRate != null">
        DC_RATE = null,
      </if>
      <if test="dcRateMaxAmt != null">
        DC_RATE_MAX_AMT = null,
      </if>
      <if test="dcMinUseAmtResYn != null">
        DC_MIN_USE_AMT_RES_YN = null,
      </if>
      <if test="dcMinUseAmt != null">
        DC_MIN_USE_AMT = null,
      </if>
      <if test="dcAddDcCpnYn != null">
        DC_ADD_DC_CPN_YN = null,
      </if>
      <if test="realDcAmt != null">
        REAL_DC_AMT = null,
      </if>
      <if test="regDt != null">
        REG_DT = null,
      </if>
      <if test="regId != null">
        REG_ID = null,
      </if>
      <if test="modDt != null">
        MOD_DT = null,
      </if>
      <if test="modId != null">
        MOD_ID = null,
      </if>
    </set>
    where 1=1
    and ORD_CPN_CHIST_ID = #{ordCpnChistId,jdbcType=INTEGER}
  </update>
</mapper>