<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>SinsegeProject</display-name>
  
  <!-- 회원 -->
  <servlet>
    <servlet-name>MController</servlet-name>
    <servlet-class>
    	kr.or.sinsege.controller.MController
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MController</servlet-name>
    <url-pattern>*.sinsege_m</url-pattern>
  </servlet-mapping>
  
  <!-- 상품 -->
  <servlet>
    <servlet-name>GController</servlet-name>
    <servlet-class>
    	kr.or.sinsege.controller.GController
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GController</servlet-name>
    <url-pattern>*.sinsege</url-pattern>
  </servlet-mapping>
  
  <!-- 주문 -->
  <servlet>
    <servlet-name>OController</servlet-name>
    <servlet-class>
    	kr.or.sinsege.controller.OController
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OController</servlet-name>
    <url-pattern>*.sinsege_o</url-pattern>
  </servlet-mapping>
  
  <!-- 평가 및 문의 -->
  <servlet>
    <servlet-name>AController</servlet-name>
    <servlet-class>
    	kr.or.sinsege.controller.AController
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AController</servlet-name>
    <url-pattern>*.sinsege_a</url-pattern>
  </servlet-mapping>
  
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>