<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mushbird.sinsege.base.module.display.dao.BaseDpChannelMapper">
  <resultMap id="BaseResultMap" type="com.mushbird.sinsege.base.module.display.model.DpChannel">
    <id column="TDCH_DP_CH_ID" jdbcType="INTEGER" property="dpChId" />
    <result column="TDCH_DP_CH_TP_CD" jdbcType="VARCHAR" property="dpChTpCd" />
    <result column="TDCH_DP_CH_NM" jdbcType="VARCHAR" property="dpChNm" />
    <result column="TDCH_REG_DT" jdbcType="TIMESTAMP" property="regDt" />
    <result column="TDCH_REG_ID" jdbcType="VARCHAR" property="regId" />
    <result column="TDCH_MOD_DT" jdbcType="TIMESTAMP" property="modDt" />
    <result column="TDCH_MOD_ID" jdbcType="VARCHAR" property="modId" />
    <result column="TDCH_USE_YN" jdbcType="VARCHAR" property="useYn" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    TDCH.DP_CH_ID as TDCH_DP_CH_ID, TDCH.DP_CH_TP_CD as TDCH_DP_CH_TP_CD, TDCH.DP_CH_NM as TDCH_DP_CH_NM, 
    TDCH.REG_DT as TDCH_REG_DT, TDCH.REG_ID as TDCH_REG_ID, TDCH.MOD_DT as TDCH_MOD_DT, 
    TDCH.MOD_ID as TDCH_MOD_ID, TDCH.USE_YN as TDCH_USE_YN
  </sql>
  <select id="selectByEntityCriteria" parameterType="com.mushbird.sinsege.base.module.display.model.entity.criteria.DpChannelEntityCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dp_ch TDCH
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dp_ch TDCH
    where TDCH.DP_CH_ID = #{dpChId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dp_ch
    where DP_CH_ID = #{dpChId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByEntityCriteria" parameterType="com.mushbird.sinsege.base.module.display.model.entity.criteria.DpChannelEntityCriteria">
    delete TDCH from dp_ch TDCH
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mushbird.sinsege.base.module.display.model.entity.DpChannelEntity">
    <selectKey keyProperty="dpChId" order="BEFORE" resultType="java.lang.Integer">
      SELECT NEXT VALUE FOR SEQ_DP_CH
    </selectKey>
    insert into dp_ch (DP_CH_ID, DP_CH_TP_CD, DP_CH_NM, 
      REG_DT, REG_ID, MOD_DT, 
      MOD_ID, USE_YN)
    values (#{dpChId,jdbcType=INTEGER}, #{dpChTpCd,jdbcType=VARCHAR}, #{dpChNm,jdbcType=VARCHAR}, 
      #{regDt,jdbcType=TIMESTAMP}, #{regId,jdbcType=VARCHAR}, #{modDt,jdbcType=TIMESTAMP}, 
      #{modId,jdbcType=VARCHAR}, #{useYn,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mushbird.sinsege.base.module.display.model.entity.DpChannelEntity">
    <selectKey keyProperty="dpChId" order="BEFORE" resultType="java.lang.Integer">
      SELECT NEXT VALUE FOR SEQ_DP_CH
    </selectKey>
    insert into dp_ch
    <trim prefix="(" suffix=")" suffixOverrides=",">
      DP_CH_ID,
      <if test="dpChTpCd != null">
        DP_CH_TP_CD,
      </if>
      <if test="dpChNm != null">
        DP_CH_NM,
      </if>
      <if test="regDt != null">
        REG_DT,
      </if>
      <if test="regId != null">
        REG_ID,
      </if>
      <if test="modDt != null">
        MOD_DT,
      </if>
      <if test="modId != null">
        MOD_ID,
      </if>
      <if test="useYn != null">
        USE_YN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{dpChId,jdbcType=INTEGER},
      <if test="dpChTpCd != null">
        #{dpChTpCd,jdbcType=VARCHAR},
      </if>
      <if test="dpChNm != null">
        #{dpChNm,jdbcType=VARCHAR},
      </if>
      <if test="regDt != null">
        #{regDt,jdbcType=TIMESTAMP},
      </if>
      <if test="regId != null">
        #{regId,jdbcType=VARCHAR},
      </if>
      <if test="modDt != null">
        #{modDt,jdbcType=TIMESTAMP},
      </if>
      <if test="modId != null">
        #{modId,jdbcType=VARCHAR},
      </if>
      <if test="useYn != null">
        #{useYn,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByEntityCriteria" parameterType="com.mushbird.sinsege.base.module.display.model.entity.criteria.DpChannelEntityCriteria" resultType="java.lang.Long">
    select count(*) from dp_ch TDCH
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByEntityCriteriaSelective" parameterType="map">
    update TDCH
    <set>
      <if test="record.dpChId != null">
        
      </if>
      <if test="record.dpChTpCd != null">
        TDCH.DP_CH_TP_CD = #{record.dpChTpCd,jdbcType=VARCHAR},
      </if>
      <if test="record.dpChNm != null">
        TDCH.DP_CH_NM = #{record.dpChNm,jdbcType=VARCHAR},
      </if>
      <if test="record.regDt != null">
        TDCH.REG_DT = #{record.regDt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.regId != null">
        TDCH.REG_ID = #{record.regId,jdbcType=VARCHAR},
      </if>
      <if test="record.modDt != null">
        TDCH.MOD_DT = #{record.modDt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modId != null">
        TDCH.MOD_ID = #{record.modId,jdbcType=VARCHAR},
      </if>
      <if test="record.useYn != null">
        TDCH.USE_YN = #{record.useYn,jdbcType=VARCHAR},
      </if>
    </set>
    from dp_ch TDCH
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByEntityCriteria" parameterType="map">
    update dp_ch TDCH
    set 
      TDCH.DP_CH_TP_CD = #{record.dpChTpCd,jdbcType=VARCHAR},
      TDCH.DP_CH_NM = #{record.dpChNm,jdbcType=VARCHAR},
      TDCH.REG_DT = #{record.regDt,jdbcType=TIMESTAMP},
      TDCH.REG_ID = #{record.regId,jdbcType=VARCHAR},
      TDCH.MOD_DT = #{record.modDt,jdbcType=TIMESTAMP},
      TDCH.MOD_ID = #{record.modId,jdbcType=VARCHAR},
      TDCH.USE_YN = #{record.useYn,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mushbird.sinsege.base.module.display.model.entity.DpChannelEntity">
    update dp_ch
    <set>
      <if test="dpChTpCd != null">
        DP_CH_TP_CD = #{dpChTpCd,jdbcType=VARCHAR},
      </if>
      <if test="dpChNm != null">
        DP_CH_NM = #{dpChNm,jdbcType=VARCHAR},
      </if>
      <if test="regDt != null">
        REG_DT = #{regDt,jdbcType=TIMESTAMP},
      </if>
      <if test="regId != null">
        REG_ID = #{regId,jdbcType=VARCHAR},
      </if>
      <if test="modDt != null">
        MOD_DT = #{modDt,jdbcType=TIMESTAMP},
      </if>
      <if test="modId != null">
        MOD_ID = #{modId,jdbcType=VARCHAR},
      </if>
      <if test="useYn != null">
        USE_YN = #{useYn,jdbcType=VARCHAR},
      </if>
    </set>
    where DP_CH_ID = #{dpChId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mushbird.sinsege.base.module.display.model.entity.DpChannelEntity">
    update dp_ch
    set DP_CH_TP_CD = #{dpChTpCd,jdbcType=VARCHAR},
      DP_CH_NM = #{dpChNm,jdbcType=VARCHAR},
      REG_DT = #{regDt,jdbcType=TIMESTAMP},
      REG_ID = #{regId,jdbcType=VARCHAR},
      MOD_DT = #{modDt,jdbcType=TIMESTAMP},
      MOD_ID = #{modId,jdbcType=VARCHAR},
      USE_YN = #{useYn,jdbcType=VARCHAR}
    where DP_CH_ID = #{dpChId,jdbcType=INTEGER}
  </update>
  <update id="updateNullByPrimaryKeySelective" parameterType="com.mushbird.sinsege.base.module.display.model.entity.DpChannelEntity">
    update dp_ch
    <set>
      <if test="dpChTpCd != null">
        DP_CH_TP_CD = null,
      </if>
      <if test="dpChNm != null">
        DP_CH_NM = null,
      </if>
      <if test="regDt != null">
        REG_DT = null,
      </if>
      <if test="regId != null">
        REG_ID = null,
      </if>
      <if test="modDt != null">
        MOD_DT = null,
      </if>
      <if test="modId != null">
        MOD_ID = null,
      </if>
      <if test="useYn != null">
        USE_YN = null,
      </if>
    </set>
    where 1=1
    and DP_CH_ID = #{dpChId,jdbcType=INTEGER}
  </update>
</mapper>