<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mushbird.sinsege.base.module.display.dao.BaseDpCornerBannerMapper">
  <resultMap id="BaseResultMap" type="com.mushbird.sinsege.base.module.display.model.DpCornerBanner">
    <id column="TDCB_DP_CONR_BANR_ID" jdbcType="INTEGER" property="dpConrBanrId" />
    <result column="TDCB_DP_CONR_CD" jdbcType="VARCHAR" property="dpConrCd" />
    <result column="TDCB_DP_ENV_CD" jdbcType="VARCHAR" property="dpEnvCd" />
    <result column="TDCB_BANR_NM" jdbcType="VARCHAR" property="banrNm" />
    <result column="TDCB_BANR_TIT_PC" jdbcType="VARCHAR" property="banrTitPc" />
    <result column="TDCB_BANR_TIT_MOB" jdbcType="VARCHAR" property="banrTitMob" />
    <result column="TDCB_BANR_ATCH_GID_PC" jdbcType="INTEGER" property="banrAtchGidPc" />
    <result column="TDCB_BANR_ATCH_GID_MOB" jdbcType="INTEGER" property="banrAtchGidMob" />
    <result column="TDCB_BG_COLOR_VAL" jdbcType="VARCHAR" property="bgColorVal" />
    <result column="TDCB_LINK_URL_ADDR" jdbcType="VARCHAR" property="linkUrlAddr" />
    <result column="TDCB_LINK_NWIN_YN" jdbcType="VARCHAR" property="linkNwinYn" />
    <result column="TDCB_KWD_VAL" jdbcType="VARCHAR" property="kwdVal" />
    <result column="TDCB_DP_ST_DT" jdbcType="DATE" property="dpStDt" />
    <result column="TDCB_DP_ED_DT" jdbcType="DATE" property="dpEdDt" />
    <result column="TDCB_DP_YN" jdbcType="VARCHAR" property="dpYn" />
    <result column="TDCB_SORD" jdbcType="DECIMAL" property="sord" />
    <result column="TDCB_REG_DT" jdbcType="TIMESTAMP" property="regDt" />
    <result column="TDCB_REG_ID" jdbcType="VARCHAR" property="regId" />
    <result column="TDCB_MOD_DT" jdbcType="TIMESTAMP" property="modDt" />
    <result column="TDCB_MOD_ID" jdbcType="VARCHAR" property="modId" />
    <result column="TDCB_USE_YN" jdbcType="VARCHAR" property="useYn" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    TDCB.DP_CONR_BANR_ID as TDCB_DP_CONR_BANR_ID, TDCB.DP_CONR_CD as TDCB_DP_CONR_CD, 
    TDCB.DP_ENV_CD as TDCB_DP_ENV_CD, TDCB.BANR_NM as TDCB_BANR_NM, TDCB.BANR_TIT_PC as TDCB_BANR_TIT_PC, 
    TDCB.BANR_TIT_MOB as TDCB_BANR_TIT_MOB, TDCB.BANR_ATCH_GID_PC as TDCB_BANR_ATCH_GID_PC, 
    TDCB.BANR_ATCH_GID_MOB as TDCB_BANR_ATCH_GID_MOB, TDCB.BG_COLOR_VAL as TDCB_BG_COLOR_VAL, 
    TDCB.LINK_URL_ADDR as TDCB_LINK_URL_ADDR, TDCB.LINK_NWIN_YN as TDCB_LINK_NWIN_YN, 
    TDCB.KWD_VAL as TDCB_KWD_VAL, TDCB.DP_ST_DT as TDCB_DP_ST_DT, TDCB.DP_ED_DT as TDCB_DP_ED_DT, 
    TDCB.DP_YN as TDCB_DP_YN, TDCB.SORD as TDCB_SORD, TDCB.REG_DT as TDCB_REG_DT, TDCB.REG_ID as TDCB_REG_ID, 
    TDCB.MOD_DT as TDCB_MOD_DT, TDCB.MOD_ID as TDCB_MOD_ID, TDCB.USE_YN as TDCB_USE_YN
  </sql>
  <select id="selectByEntityCriteria" parameterType="com.mushbird.sinsege.base.module.display.model.entity.criteria.DpCornerBannerEntityCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dp_conr_banr TDCB
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dp_conr_banr TDCB
    where TDCB.DP_CONR_BANR_ID = #{dpConrBanrId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dp_conr_banr
    where DP_CONR_BANR_ID = #{dpConrBanrId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByEntityCriteria" parameterType="com.mushbird.sinsege.base.module.display.model.entity.criteria.DpCornerBannerEntityCriteria">
    delete TDCB from dp_conr_banr TDCB
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mushbird.sinsege.base.module.display.model.entity.DpCornerBannerEntity">
    <selectKey keyProperty="dpConrBanrId" order="BEFORE" resultType="java.lang.Integer">
      SELECT NEXT VALUE FOR SEQ_DP_CONR_BANR
    </selectKey>
    insert into dp_conr_banr (DP_CONR_BANR_ID, DP_CONR_CD, DP_ENV_CD, 
      BANR_NM, BANR_TIT_PC, BANR_TIT_MOB, 
      BANR_ATCH_GID_PC, BANR_ATCH_GID_MOB, BG_COLOR_VAL, 
      LINK_URL_ADDR, LINK_NWIN_YN, KWD_VAL, 
      DP_ST_DT, DP_ED_DT, DP_YN, SORD, 
      REG_DT, REG_ID, MOD_DT, 
      MOD_ID, USE_YN)
    values (#{dpConrBanrId,jdbcType=INTEGER}, #{dpConrCd,jdbcType=VARCHAR}, #{dpEnvCd,jdbcType=VARCHAR}, 
      #{banrNm,jdbcType=VARCHAR}, #{banrTitPc,jdbcType=VARCHAR}, #{banrTitMob,jdbcType=VARCHAR}, 
      #{banrAtchGidPc,jdbcType=INTEGER}, #{banrAtchGidMob,jdbcType=INTEGER}, #{bgColorVal,jdbcType=VARCHAR}, 
      #{linkUrlAddr,jdbcType=VARCHAR}, #{linkNwinYn,jdbcType=VARCHAR}, #{kwdVal,jdbcType=VARCHAR}, 
      #{dpStDt,jdbcType=DATE}, #{dpEdDt,jdbcType=DATE}, #{dpYn,jdbcType=VARCHAR}, #{sord,jdbcType=DECIMAL}, 
      #{regDt,jdbcType=TIMESTAMP}, #{regId,jdbcType=VARCHAR}, #{modDt,jdbcType=TIMESTAMP}, 
      #{modId,jdbcType=VARCHAR}, #{useYn,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mushbird.sinsege.base.module.display.model.entity.DpCornerBannerEntity">
    <selectKey keyProperty="dpConrBanrId" order="BEFORE" resultType="java.lang.Integer">
      SELECT NEXT VALUE FOR SEQ_DP_CONR_BANR
    </selectKey>
    insert into dp_conr_banr
    <trim prefix="(" suffix=")" suffixOverrides=",">
      DP_CONR_BANR_ID,
      <if test="dpConrCd != null">
        DP_CONR_CD,
      </if>
      <if test="dpEnvCd != null">
        DP_ENV_CD,
      </if>
      <if test="banrNm != null">
        BANR_NM,
      </if>
      <if test="banrTitPc != null">
        BANR_TIT_PC,
      </if>
      <if test="banrTitMob != null">
        BANR_TIT_MOB,
      </if>
      <if test="banrAtchGidPc != null">
        BANR_ATCH_GID_PC,
      </if>
      <if test="banrAtchGidMob != null">
        BANR_ATCH_GID_MOB,
      </if>
      <if test="bgColorVal != null">
        BG_COLOR_VAL,
      </if>
      <if test="linkUrlAddr != null">
        LINK_URL_ADDR,
      </if>
      <if test="linkNwinYn != null">
        LINK_NWIN_YN,
      </if>
      <if test="kwdVal != null">
        KWD_VAL,
      </if>
      <if test="dpStDt != null">
        DP_ST_DT,
      </if>
      <if test="dpEdDt != null">
        DP_ED_DT,
      </if>
      <if test="dpYn != null">
        DP_YN,
      </if>
      <if test="sord != null">
        SORD,
      </if>
      <if test="regDt != null">
        REG_DT,
      </if>
      <if test="regId != null">
        REG_ID,
      </if>
      <if test="modDt != null">
        MOD_DT,
      </if>
      <if test="modId != null">
        MOD_ID,
      </if>
      <if test="useYn != null">
        USE_YN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{dpConrBanrId,jdbcType=INTEGER},
      <if test="dpConrCd != null">
        #{dpConrCd,jdbcType=VARCHAR},
      </if>
      <if test="dpEnvCd != null">
        #{dpEnvCd,jdbcType=VARCHAR},
      </if>
      <if test="banrNm != null">
        #{banrNm,jdbcType=VARCHAR},
      </if>
      <if test="banrTitPc != null">
        #{banrTitPc,jdbcType=VARCHAR},
      </if>
      <if test="banrTitMob != null">
        #{banrTitMob,jdbcType=VARCHAR},
      </if>
      <if test="banrAtchGidPc != null">
        #{banrAtchGidPc,jdbcType=INTEGER},
      </if>
      <if test="banrAtchGidMob != null">
        #{banrAtchGidMob,jdbcType=INTEGER},
      </if>
      <if test="bgColorVal != null">
        #{bgColorVal,jdbcType=VARCHAR},
      </if>
      <if test="linkUrlAddr != null">
        #{linkUrlAddr,jdbcType=VARCHAR},
      </if>
      <if test="linkNwinYn != null">
        #{linkNwinYn,jdbcType=VARCHAR},
      </if>
      <if test="kwdVal != null">
        #{kwdVal,jdbcType=VARCHAR},
      </if>
      <if test="dpStDt != null">
        #{dpStDt,jdbcType=DATE},
      </if>
      <if test="dpEdDt != null">
        #{dpEdDt,jdbcType=DATE},
      </if>
      <if test="dpYn != null">
        #{dpYn,jdbcType=VARCHAR},
      </if>
      <if test="sord != null">
        #{sord,jdbcType=DECIMAL},
      </if>
      <if test="regDt != null">
        #{regDt,jdbcType=TIMESTAMP},
      </if>
      <if test="regId != null">
        #{regId,jdbcType=VARCHAR},
      </if>
      <if test="modDt != null">
        #{modDt,jdbcType=TIMESTAMP},
      </if>
      <if test="modId != null">
        #{modId,jdbcType=VARCHAR},
      </if>
      <if test="useYn != null">
        #{useYn,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByEntityCriteria" parameterType="com.mushbird.sinsege.base.module.display.model.entity.criteria.DpCornerBannerEntityCriteria" resultType="java.lang.Long">
    select count(*) from dp_conr_banr TDCB
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByEntityCriteriaSelective" parameterType="map">
    update TDCB
    <set>
      <if test="record.dpConrBanrId != null">
        
      </if>
      <if test="record.dpConrCd != null">
        TDCB.DP_CONR_CD = #{record.dpConrCd,jdbcType=VARCHAR},
      </if>
      <if test="record.dpEnvCd != null">
        TDCB.DP_ENV_CD = #{record.dpEnvCd,jdbcType=VARCHAR},
      </if>
      <if test="record.banrNm != null">
        TDCB.BANR_NM = #{record.banrNm,jdbcType=VARCHAR},
      </if>
      <if test="record.banrTitPc != null">
        TDCB.BANR_TIT_PC = #{record.banrTitPc,jdbcType=VARCHAR},
      </if>
      <if test="record.banrTitMob != null">
        TDCB.BANR_TIT_MOB = #{record.banrTitMob,jdbcType=VARCHAR},
      </if>
      <if test="record.banrAtchGidPc != null">
        TDCB.BANR_ATCH_GID_PC = #{record.banrAtchGidPc,jdbcType=INTEGER},
      </if>
      <if test="record.banrAtchGidMob != null">
        TDCB.BANR_ATCH_GID_MOB = #{record.banrAtchGidMob,jdbcType=INTEGER},
      </if>
      <if test="record.bgColorVal != null">
        TDCB.BG_COLOR_VAL = #{record.bgColorVal,jdbcType=VARCHAR},
      </if>
      <if test="record.linkUrlAddr != null">
        TDCB.LINK_URL_ADDR = #{record.linkUrlAddr,jdbcType=VARCHAR},
      </if>
      <if test="record.linkNwinYn != null">
        TDCB.LINK_NWIN_YN = #{record.linkNwinYn,jdbcType=VARCHAR},
      </if>
      <if test="record.kwdVal != null">
        TDCB.KWD_VAL = #{record.kwdVal,jdbcType=VARCHAR},
      </if>
      <if test="record.dpStDt != null">
        TDCB.DP_ST_DT = #{record.dpStDt,jdbcType=DATE},
      </if>
      <if test="record.dpEdDt != null">
        TDCB.DP_ED_DT = #{record.dpEdDt,jdbcType=DATE},
      </if>
      <if test="record.dpYn != null">
        TDCB.DP_YN = #{record.dpYn,jdbcType=VARCHAR},
      </if>
      <if test="record.sord != null">
        TDCB.SORD = #{record.sord,jdbcType=DECIMAL},
      </if>
      <if test="record.regDt != null">
        TDCB.REG_DT = #{record.regDt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.regId != null">
        TDCB.REG_ID = #{record.regId,jdbcType=VARCHAR},
      </if>
      <if test="record.modDt != null">
        TDCB.MOD_DT = #{record.modDt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modId != null">
        TDCB.MOD_ID = #{record.modId,jdbcType=VARCHAR},
      </if>
      <if test="record.useYn != null">
        TDCB.USE_YN = #{record.useYn,jdbcType=VARCHAR},
      </if>
    </set>
    from dp_conr_banr TDCB
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByEntityCriteria" parameterType="map">
    update dp_conr_banr TDCB
    set 
      TDCB.DP_CONR_CD = #{record.dpConrCd,jdbcType=VARCHAR},
      TDCB.DP_ENV_CD = #{record.dpEnvCd,jdbcType=VARCHAR},
      TDCB.BANR_NM = #{record.banrNm,jdbcType=VARCHAR},
      TDCB.BANR_TIT_PC = #{record.banrTitPc,jdbcType=VARCHAR},
      TDCB.BANR_TIT_MOB = #{record.banrTitMob,jdbcType=VARCHAR},
      TDCB.BANR_ATCH_GID_PC = #{record.banrAtchGidPc,jdbcType=INTEGER},
      TDCB.BANR_ATCH_GID_MOB = #{record.banrAtchGidMob,jdbcType=INTEGER},
      TDCB.BG_COLOR_VAL = #{record.bgColorVal,jdbcType=VARCHAR},
      TDCB.LINK_URL_ADDR = #{record.linkUrlAddr,jdbcType=VARCHAR},
      TDCB.LINK_NWIN_YN = #{record.linkNwinYn,jdbcType=VARCHAR},
      TDCB.KWD_VAL = #{record.kwdVal,jdbcType=VARCHAR},
      TDCB.DP_ST_DT = #{record.dpStDt,jdbcType=DATE},
      TDCB.DP_ED_DT = #{record.dpEdDt,jdbcType=DATE},
      TDCB.DP_YN = #{record.dpYn,jdbcType=VARCHAR},
      TDCB.SORD = #{record.sord,jdbcType=DECIMAL},
      TDCB.REG_DT = #{record.regDt,jdbcType=TIMESTAMP},
      TDCB.REG_ID = #{record.regId,jdbcType=VARCHAR},
      TDCB.MOD_DT = #{record.modDt,jdbcType=TIMESTAMP},
      TDCB.MOD_ID = #{record.modId,jdbcType=VARCHAR},
      TDCB.USE_YN = #{record.useYn,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mushbird.sinsege.base.module.display.model.entity.DpCornerBannerEntity">
    update dp_conr_banr
    <set>
      <if test="dpConrCd != null">
        DP_CONR_CD = #{dpConrCd,jdbcType=VARCHAR},
      </if>
      <if test="dpEnvCd != null">
        DP_ENV_CD = #{dpEnvCd,jdbcType=VARCHAR},
      </if>
      <if test="banrNm != null">
        BANR_NM = #{banrNm,jdbcType=VARCHAR},
      </if>
      <if test="banrTitPc != null">
        BANR_TIT_PC = #{banrTitPc,jdbcType=VARCHAR},
      </if>
      <if test="banrTitMob != null">
        BANR_TIT_MOB = #{banrTitMob,jdbcType=VARCHAR},
      </if>
      <if test="banrAtchGidPc != null">
        BANR_ATCH_GID_PC = #{banrAtchGidPc,jdbcType=INTEGER},
      </if>
      <if test="banrAtchGidMob != null">
        BANR_ATCH_GID_MOB = #{banrAtchGidMob,jdbcType=INTEGER},
      </if>
      <if test="bgColorVal != null">
        BG_COLOR_VAL = #{bgColorVal,jdbcType=VARCHAR},
      </if>
      <if test="linkUrlAddr != null">
        LINK_URL_ADDR = #{linkUrlAddr,jdbcType=VARCHAR},
      </if>
      <if test="linkNwinYn != null">
        LINK_NWIN_YN = #{linkNwinYn,jdbcType=VARCHAR},
      </if>
      <if test="kwdVal != null">
        KWD_VAL = #{kwdVal,jdbcType=VARCHAR},
      </if>
      <if test="dpStDt != null">
        DP_ST_DT = #{dpStDt,jdbcType=DATE},
      </if>
      <if test="dpEdDt != null">
        DP_ED_DT = #{dpEdDt,jdbcType=DATE},
      </if>
      <if test="dpYn != null">
        DP_YN = #{dpYn,jdbcType=VARCHAR},
      </if>
      <if test="sord != null">
        SORD = #{sord,jdbcType=DECIMAL},
      </if>
      <if test="regDt != null">
        REG_DT = #{regDt,jdbcType=TIMESTAMP},
      </if>
      <if test="regId != null">
        REG_ID = #{regId,jdbcType=VARCHAR},
      </if>
      <if test="modDt != null">
        MOD_DT = #{modDt,jdbcType=TIMESTAMP},
      </if>
      <if test="modId != null">
        MOD_ID = #{modId,jdbcType=VARCHAR},
      </if>
      <if test="useYn != null">
        USE_YN = #{useYn,jdbcType=VARCHAR},
      </if>
    </set>
    where DP_CONR_BANR_ID = #{dpConrBanrId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mushbird.sinsege.base.module.display.model.entity.DpCornerBannerEntity">
    update dp_conr_banr
    set DP_CONR_CD = #{dpConrCd,jdbcType=VARCHAR},
      DP_ENV_CD = #{dpEnvCd,jdbcType=VARCHAR},
      BANR_NM = #{banrNm,jdbcType=VARCHAR},
      BANR_TIT_PC = #{banrTitPc,jdbcType=VARCHAR},
      BANR_TIT_MOB = #{banrTitMob,jdbcType=VARCHAR},
      BANR_ATCH_GID_PC = #{banrAtchGidPc,jdbcType=INTEGER},
      BANR_ATCH_GID_MOB = #{banrAtchGidMob,jdbcType=INTEGER},
      BG_COLOR_VAL = #{bgColorVal,jdbcType=VARCHAR},
      LINK_URL_ADDR = #{linkUrlAddr,jdbcType=VARCHAR},
      LINK_NWIN_YN = #{linkNwinYn,jdbcType=VARCHAR},
      KWD_VAL = #{kwdVal,jdbcType=VARCHAR},
      DP_ST_DT = #{dpStDt,jdbcType=DATE},
      DP_ED_DT = #{dpEdDt,jdbcType=DATE},
      DP_YN = #{dpYn,jdbcType=VARCHAR},
      SORD = #{sord,jdbcType=DECIMAL},
      REG_DT = #{regDt,jdbcType=TIMESTAMP},
      REG_ID = #{regId,jdbcType=VARCHAR},
      MOD_DT = #{modDt,jdbcType=TIMESTAMP},
      MOD_ID = #{modId,jdbcType=VARCHAR},
      USE_YN = #{useYn,jdbcType=VARCHAR}
    where DP_CONR_BANR_ID = #{dpConrBanrId,jdbcType=INTEGER}
  </update>
  <update id="updateNullByPrimaryKeySelective" parameterType="com.mushbird.sinsege.base.module.display.model.entity.DpCornerBannerEntity">
    update dp_conr_banr
    <set>
      <if test="dpConrCd != null">
        DP_CONR_CD = null,
      </if>
      <if test="dpEnvCd != null">
        DP_ENV_CD = null,
      </if>
      <if test="banrNm != null">
        BANR_NM = null,
      </if>
      <if test="banrTitPc != null">
        BANR_TIT_PC = null,
      </if>
      <if test="banrTitMob != null">
        BANR_TIT_MOB = null,
      </if>
      <if test="banrAtchGidPc != null">
        BANR_ATCH_GID_PC = null,
      </if>
      <if test="banrAtchGidMob != null">
        BANR_ATCH_GID_MOB = null,
      </if>
      <if test="bgColorVal != null">
        BG_COLOR_VAL = null,
      </if>
      <if test="linkUrlAddr != null">
        LINK_URL_ADDR = null,
      </if>
      <if test="linkNwinYn != null">
        LINK_NWIN_YN = null,
      </if>
      <if test="kwdVal != null">
        KWD_VAL = null,
      </if>
      <if test="dpStDt != null">
        DP_ST_DT = null,
      </if>
      <if test="dpEdDt != null">
        DP_ED_DT = null,
      </if>
      <if test="dpYn != null">
        DP_YN = null,
      </if>
      <if test="sord != null">
        SORD = null,
      </if>
      <if test="regDt != null">
        REG_DT = null,
      </if>
      <if test="regId != null">
        REG_ID = null,
      </if>
      <if test="modDt != null">
        MOD_DT = null,
      </if>
      <if test="modId != null">
        MOD_ID = null,
      </if>
      <if test="useYn != null">
        USE_YN = null,
      </if>
    </set>
    where 1=1
    and DP_CONR_BANR_ID = #{dpConrBanrId,jdbcType=INTEGER}
  </update>
</mapper>