<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mushbird.sinsege.base.module.reward.dao.BasePointPolicyChangeHistoryMapper">
  <resultMap id="BaseResultMap" type="com.mushbird.sinsege.base.module.reward.model.PointPolicyChangeHistory">
    <id column="TPCH_PT_PCY_CHIST_ID" jdbcType="INTEGER" property="ptPcyChistId" />
    <result column="TPCH_PT_TP_CD" jdbcType="VARCHAR" property="ptTpCd" />
    <result column="TPCH_SAVE_UNIT_CD" jdbcType="VARCHAR" property="saveUnitCd" />
    <result column="TPCH_SAVE_RATE" jdbcType="DECIMAL" property="saveRate" />
    <result column="TPCH_SAVE_AMT" jdbcType="INTEGER" property="saveAmt" />
    <result column="TPCH_REG_DT" jdbcType="TIMESTAMP" property="regDt" />
    <result column="TPCH_REG_ID" jdbcType="VARCHAR" property="regId" />
    <result column="TPCH_MOD_DT" jdbcType="TIMESTAMP" property="modDt" />
    <result column="TPCH_MOD_ID" jdbcType="VARCHAR" property="modId" />
    <result column="TPCH_USE_YN" jdbcType="VARCHAR" property="useYn" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    TPCH.PT_PCY_CHIST_ID as TPCH_PT_PCY_CHIST_ID, TPCH.PT_TP_CD as TPCH_PT_TP_CD, TPCH.SAVE_UNIT_CD as TPCH_SAVE_UNIT_CD, 
    TPCH.SAVE_RATE as TPCH_SAVE_RATE, TPCH.SAVE_AMT as TPCH_SAVE_AMT, TPCH.REG_DT as TPCH_REG_DT, 
    TPCH.REG_ID as TPCH_REG_ID, TPCH.MOD_DT as TPCH_MOD_DT, TPCH.MOD_ID as TPCH_MOD_ID, 
    TPCH.USE_YN as TPCH_USE_YN
  </sql>
  <select id="selectByEntityCriteria" parameterType="com.mushbird.sinsege.base.module.reward.model.entity.criteria.PointPolicyChangeHistoryEntityCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pnt_pcy_chist TPCH
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pnt_pcy_chist TPCH
    where TPCH.PT_PCY_CHIST_ID = #{ptPcyChistId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pnt_pcy_chist
    where PT_PCY_CHIST_ID = #{ptPcyChistId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByEntityCriteria" parameterType="com.mushbird.sinsege.base.module.reward.model.entity.criteria.PointPolicyChangeHistoryEntityCriteria">
    delete TPCH from pnt_pcy_chist TPCH
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mushbird.sinsege.base.module.reward.model.entity.PointPolicyChangeHistoryEntity">
    <selectKey keyProperty="ptPcyChistId" order="BEFORE" resultType="java.lang.Integer">
      SELECT NEXT VALUE FOR SEQ_PNT_PCY_CHIST
    </selectKey>
    insert into pnt_pcy_chist (PT_PCY_CHIST_ID, PT_TP_CD, SAVE_UNIT_CD, 
      SAVE_RATE, SAVE_AMT, REG_DT, 
      REG_ID, MOD_DT, MOD_ID, 
      USE_YN)
    values (#{ptPcyChistId,jdbcType=INTEGER}, #{ptTpCd,jdbcType=VARCHAR}, #{saveUnitCd,jdbcType=VARCHAR}, 
      #{saveRate,jdbcType=DECIMAL}, #{saveAmt,jdbcType=INTEGER}, #{regDt,jdbcType=TIMESTAMP}, 
      #{regId,jdbcType=VARCHAR}, #{modDt,jdbcType=TIMESTAMP}, #{modId,jdbcType=VARCHAR}, 
      #{useYn,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mushbird.sinsege.base.module.reward.model.entity.PointPolicyChangeHistoryEntity">
    <selectKey keyProperty="ptPcyChistId" order="BEFORE" resultType="java.lang.Integer">
      SELECT NEXT VALUE FOR SEQ_PNT_PCY_CHIST
    </selectKey>
    insert into pnt_pcy_chist
    <trim prefix="(" suffix=")" suffixOverrides=",">
      PT_PCY_CHIST_ID,
      <if test="ptTpCd != null">
        PT_TP_CD,
      </if>
      <if test="saveUnitCd != null">
        SAVE_UNIT_CD,
      </if>
      <if test="saveRate != null">
        SAVE_RATE,
      </if>
      <if test="saveAmt != null">
        SAVE_AMT,
      </if>
      <if test="regDt != null">
        REG_DT,
      </if>
      <if test="regId != null">
        REG_ID,
      </if>
      <if test="modDt != null">
        MOD_DT,
      </if>
      <if test="modId != null">
        MOD_ID,
      </if>
      <if test="useYn != null">
        USE_YN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{ptPcyChistId,jdbcType=INTEGER},
      <if test="ptTpCd != null">
        #{ptTpCd,jdbcType=VARCHAR},
      </if>
      <if test="saveUnitCd != null">
        #{saveUnitCd,jdbcType=VARCHAR},
      </if>
      <if test="saveRate != null">
        #{saveRate,jdbcType=DECIMAL},
      </if>
      <if test="saveAmt != null">
        #{saveAmt,jdbcType=INTEGER},
      </if>
      <if test="regDt != null">
        #{regDt,jdbcType=TIMESTAMP},
      </if>
      <if test="regId != null">
        #{regId,jdbcType=VARCHAR},
      </if>
      <if test="modDt != null">
        #{modDt,jdbcType=TIMESTAMP},
      </if>
      <if test="modId != null">
        #{modId,jdbcType=VARCHAR},
      </if>
      <if test="useYn != null">
        #{useYn,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByEntityCriteria" parameterType="com.mushbird.sinsege.base.module.reward.model.entity.criteria.PointPolicyChangeHistoryEntityCriteria" resultType="java.lang.Long">
    select count(*) from pnt_pcy_chist TPCH
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByEntityCriteriaSelective" parameterType="map">
    update TPCH
    <set>
      <if test="record.ptPcyChistId != null">
        
      </if>
      <if test="record.ptTpCd != null">
        TPCH.PT_TP_CD = #{record.ptTpCd,jdbcType=VARCHAR},
      </if>
      <if test="record.saveUnitCd != null">
        TPCH.SAVE_UNIT_CD = #{record.saveUnitCd,jdbcType=VARCHAR},
      </if>
      <if test="record.saveRate != null">
        TPCH.SAVE_RATE = #{record.saveRate,jdbcType=DECIMAL},
      </if>
      <if test="record.saveAmt != null">
        TPCH.SAVE_AMT = #{record.saveAmt,jdbcType=INTEGER},
      </if>
      <if test="record.regDt != null">
        TPCH.REG_DT = #{record.regDt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.regId != null">
        TPCH.REG_ID = #{record.regId,jdbcType=VARCHAR},
      </if>
      <if test="record.modDt != null">
        TPCH.MOD_DT = #{record.modDt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modId != null">
        TPCH.MOD_ID = #{record.modId,jdbcType=VARCHAR},
      </if>
      <if test="record.useYn != null">
        TPCH.USE_YN = #{record.useYn,jdbcType=VARCHAR},
      </if>
    </set>
    from pnt_pcy_chist TPCH
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByEntityCriteria" parameterType="map">
    update pnt_pcy_chist TPCH
    set 
      TPCH.PT_TP_CD = #{record.ptTpCd,jdbcType=VARCHAR},
      TPCH.SAVE_UNIT_CD = #{record.saveUnitCd,jdbcType=VARCHAR},
      TPCH.SAVE_RATE = #{record.saveRate,jdbcType=DECIMAL},
      TPCH.SAVE_AMT = #{record.saveAmt,jdbcType=INTEGER},
      TPCH.REG_DT = #{record.regDt,jdbcType=TIMESTAMP},
      TPCH.REG_ID = #{record.regId,jdbcType=VARCHAR},
      TPCH.MOD_DT = #{record.modDt,jdbcType=TIMESTAMP},
      TPCH.MOD_ID = #{record.modId,jdbcType=VARCHAR},
      TPCH.USE_YN = #{record.useYn,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mushbird.sinsege.base.module.reward.model.entity.PointPolicyChangeHistoryEntity">
    update pnt_pcy_chist
    <set>
      <if test="ptTpCd != null">
        PT_TP_CD = #{ptTpCd,jdbcType=VARCHAR},
      </if>
      <if test="saveUnitCd != null">
        SAVE_UNIT_CD = #{saveUnitCd,jdbcType=VARCHAR},
      </if>
      <if test="saveRate != null">
        SAVE_RATE = #{saveRate,jdbcType=DECIMAL},
      </if>
      <if test="saveAmt != null">
        SAVE_AMT = #{saveAmt,jdbcType=INTEGER},
      </if>
      <if test="regDt != null">
        REG_DT = #{regDt,jdbcType=TIMESTAMP},
      </if>
      <if test="regId != null">
        REG_ID = #{regId,jdbcType=VARCHAR},
      </if>
      <if test="modDt != null">
        MOD_DT = #{modDt,jdbcType=TIMESTAMP},
      </if>
      <if test="modId != null">
        MOD_ID = #{modId,jdbcType=VARCHAR},
      </if>
      <if test="useYn != null">
        USE_YN = #{useYn,jdbcType=VARCHAR},
      </if>
    </set>
    where PT_PCY_CHIST_ID = #{ptPcyChistId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mushbird.sinsege.base.module.reward.model.entity.PointPolicyChangeHistoryEntity">
    update pnt_pcy_chist
    set PT_TP_CD = #{ptTpCd,jdbcType=VARCHAR},
      SAVE_UNIT_CD = #{saveUnitCd,jdbcType=VARCHAR},
      SAVE_RATE = #{saveRate,jdbcType=DECIMAL},
      SAVE_AMT = #{saveAmt,jdbcType=INTEGER},
      REG_DT = #{regDt,jdbcType=TIMESTAMP},
      REG_ID = #{regId,jdbcType=VARCHAR},
      MOD_DT = #{modDt,jdbcType=TIMESTAMP},
      MOD_ID = #{modId,jdbcType=VARCHAR},
      USE_YN = #{useYn,jdbcType=VARCHAR}
    where PT_PCY_CHIST_ID = #{ptPcyChistId,jdbcType=INTEGER}
  </update>
  <update id="updateNullByPrimaryKeySelective" parameterType="com.mushbird.sinsege.base.module.reward.model.entity.PointPolicyChangeHistoryEntity">
    update pnt_pcy_chist
    <set>
      <if test="ptTpCd != null">
        PT_TP_CD = null,
      </if>
      <if test="saveUnitCd != null">
        SAVE_UNIT_CD = null,
      </if>
      <if test="saveRate != null">
        SAVE_RATE = null,
      </if>
      <if test="saveAmt != null">
        SAVE_AMT = null,
      </if>
      <if test="regDt != null">
        REG_DT = null,
      </if>
      <if test="regId != null">
        REG_ID = null,
      </if>
      <if test="modDt != null">
        MOD_DT = null,
      </if>
      <if test="modId != null">
        MOD_ID = null,
      </if>
      <if test="useYn != null">
        USE_YN = null,
      </if>
    </set>
    where 1=1
    and PT_PCY_CHIST_ID = #{ptPcyChistId,jdbcType=INTEGER}
  </update>
</mapper>